/* =============================================== */
/* ========== STYLESHEET SECTION SLIDER ========== */
/* =============================================== */


/* =============================================== */
/* ========== STYLESHEET SECTION BANNER ========== */
/* =============================================== */
.banner-top .container-section-wrap {
    display: flex;
    align-items: center;
}

.container-section-wrap .banner-top-left {
   flex: 0 0 824px;
   max-width: 824px;
   height: 274px;
   overflow: hidden;
}

.banner-top-left .banner-link,
.banner-top-right .banner-link {
    display: block;
    width: 100%;
    height: 274px;
}

.banner-top-left .banner-link .banner-image,
.banner-top-right .banner-link .banner-image {
    width: 100%;
    height: 100%;
}

.container-section-wrap .banner-top-right {
    flex: 1;
    overflow: hidden;
    height: 274px;
}

.banner-top-slider .slick-dots {
    bottom: 5px;
}

.banner-top-slider .slick-prev {
    left: 10px;
    z-index: 1;
}

.banner-top-slider .slick-next {
    right: 10px;
    z-index: 1;
}